<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <link rel="icon" href="%PUBLIC_URL%/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" href="stylesheets/about.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
    <meta
      name="description"
      content="The One-Stop-Shop for course discovery at UC Irvine."
    />
    <meta
    name="author"
    content="ICSSC Project Committee"
    />
    <meta
    name="keywords"
    content="UC Irvine, UCI, WebSoC, Rate My Professor, AntAlmanac, Catalogue, course planning, schedule, Antplanner"
    />

    <title>PeterPortal</title>
  </head>
  <body>
    <nav id="navbar">
      <div class="navbar-innercontainer">
        <img src="/peterportal-banner-logo.svg" class="peterportal-logo">
        <div class="navigation-container">
          <a class="navigation-link" href="#about"><p>About</p></a>
          <a class="navigation-link" href="#team"><p>Team</p></a>
          <a class="navigation-link" href="/legal"><p>Privacy Policy</p></a>
          <button class="ui blue basic button" onclick="location.href = '/'">Launch PeterPortal</button>
        </div>
      </div>
    </nav>
    <!-- <div id="container">
      <img src="img/peterportal-banner-logo.svg">
    </div> -->

    

    <div class="landing-container">
      <div class="content-container">
      <div class="landing-innercontainer">
        <div style="width: 60%; display: flex; flex-direction: column;">
          <div class="header-container" style="display: flex; margin: auto; flex-direction: column;">
            <h1 class="header">Your One-Stop-Shop for course discovery at <span style="border-bottom: 5px solid #74d1f6">UC Irvine.</span></h1>
            <h2 class="sub-header">Enrolling in classes can now be stress-free and organized with PeterPortal. </h2>
          </div>
        </div>
        
        <div style="width: 40%; padding: 0 0 0 5rem;">
          <img class="p-logo" src="/p.svg">
        </div>
      </div>
    </div>
  </div>

    <div class="about-container" id="about">
      <div style="margin: 8rem auto" class="content-container">
        <div style="margin-bottom: 6rem">
          <h1 class="header white-text">🧭 Our Mission</h1>
          <h2 class="sub-header white-text">To help you find all the information you need to make informed choices about your professors and classes in one platform seamlessly. 
            Take charge of your education with all the tools available to help you create your optimal schedule.</h2>
        </div>

        <div>
          <h1 class="header white-text">📚 Our History</h1>
          <h2 class="sub-header white-text">PeterPortal was founded in 2019 by the UC Irvine ICSSC Project Committee to assist students with class enrollment. 
            To improve the students' experience with course planning and research, we consolidate public data from multiple UCI sources to display in a more user-friendly environment.</h2>
        </div>
      </div>
    </div>

  

    <div class="team-section-container" id="team">

    <div class="team-subheader content-container">
      <h2 class="sub-header">🤝 Core Team</h1>
    </div>

    <div class="team-galley-container content-container">
      <div class="team-galley-innercontainer">
        <div class="team-container">
          <img class="team-profile" src="/team/monica.jpg"></img>
          <h3>Monica Bui</h3>
          <h4>Back-end Developer</h4>
        </div>
        <div class="team-container">
          <img class="team-profile" src="/team/aaron.jpg"></img>
          <h3>Aaron Chen</h3>
          <h4>Back-end Developer</h4>
        </div>
        <div class="team-container">
          <img class="team-profile" src="/team/evelyn.jpg"></img>
          <h3>Evelyn Cheng</h3>
          <h4>UI/UX Designer</h4>
        </div>
        <div class="team-container">
          <img class="team-profile" src="/team/marawin.jpg"></img>
          <h3>Marawin Chheang</h3>
          <h4>Project Manager</h4>
        </div>
        <div class="team-container">
          <img class="team-profile" src="/team/ritika.jpg"></img>
          <h3>Ritika Roy Choudhury</h3>
          <h4>Back-end Developer</h4>
        </div>
        <div class="team-container">
          <img class="team-profile" src="/team/raman.jpeg"></img>
          <h3>Raman Gupta</h3>
          <h4>Back-end Developer</h4>
        </div>
        <div class="team-container">
          <img style="object-position: 5% 18%;" class="team-profile" src="/team/ryan_h.jpeg"></img>
          <h3>Ryan Hartanto</h3>
          <h4>Front-end Developer</h4>
        </div>
        <div class="team-container">
          <img class="team-profile" src="/team/trisha.jpg"></img>
          <h3>Trisha Le</h3>
          <h4>UI/UX Designer</h4>
        </div>
        <div class="team-container">
          <img class="team-profile" src="/team/yizhen.jpeg"></img>
          <h3>Yizhen Liu</h3>
          <h4>Back-end Developer</h4>
        </div>
        <div class="team-container">
          <img class="team-profile" src="/team/ryan_m.jpg"></img>
          <h3>Ryan Mohta</h3>
          <h4>UI/UX Designer</h4>
        </div>

        <div class="team-container">
          <img class="team-profile" src="/team/braedon.png"></img>
          <h3>Braedon Schmidt</h3>
          <h4>Back-end Developer</h4>
        </div>

        <div class="team-container">
          <img class="team-profile" src="/team/mayank.png"></img>
          <h3>Mayank Sharma</h3>
          <h4>Back-end Developer</h4>
        </div>
        <div class="team-container" style="margin: 2.4rem auto">
          <img class="team-profile" src="/team/william.JPG"></img>
          <h3>William Yang</h3>
          <h4>Back-end Developer</h4>
        </div>
    </div>

    </div>

    <div class="team-subheader content-container" style="padding: 8rem 0 0 0">
      <h2 class="sub-header">🎓 Project Alumni</h2>
    </div>

    <div class="team-galley-container content-container">
      <div class="team-galley-innercontainer">
        <div class="team-container">
          <img style="object-position: 5% 18%;" class="team-profile" src="/team/rona.jpg"></img>
          <h3>Rona Chan</h3>
          <h4>Front-end Developer</h4>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div>
        <a href="https://github.com/icssc-projects">Github</a>
        <a href="https://peter-portal.com/api/v1/docs">API</a>
        <a href="/about">About</a>
        <a href="/about#team">Team</a>
    </div>
    <div class="copyright">
        <p>Made with ♥ by <a href="https://studentcouncil.ics.uci.edu/">ICSSC Project Committee</a></p>
    </div>
</footer>



    
<script>
  ScrollReveal().reveal('.content-container', { delay: 500 });

  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
      document.getElementById("navbar").style.boxShadow = "0 0 16px -4px rgba(0,0,0,.2)";
      document.getElementById("navbar").style.height = "60px";
    } else {
      document.getElementById("navbar").style.boxShadow = null;
      document.getElementById("navbar").style.height= "80px";
    }
  }
</script>

  </body>

</html>
