<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <main>
        <div class="jumbotron">
            <h1>PeterPortal Public API</h1>
            <a href="/rest">REST API</a><br>
            <a href="/graphql">GraphQL API</a>
        </div>
    </main>
<!-- 
    <footer>
        <% include ../partials/footer %>
    </footer> -->

</body>

</html>